
body{
    background-color: #f5f2f2;
}

#mainNav{
    background-color: #007EA7
}

/* div{
    border: solid 1px black;
} */

.head1{
    font-size: 30px;
    font-weight: 600;
}
form {
    /* display: none; */
    margin:0 auto;
    display: flex;
    width:40%;
    max-width: 300px;
    flex-direction: column;
    font-family: roboto;
    text-align: center;
}

form h1 {
    margin:0;

}

form input {
    border-radius: 4px;
    border:0;
    outline-width: 0;
    height:35px;
    background-color: #f4f4f4;
    margin:5px 0;
    padding: 5px;
}

form button {
    border:0;
    height:40px;
    border-radius: 4px;
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    font-size: 20px;
}

.head2{
    /* display: block; */
    font-size: 25px;
    padding-left: 25px
}

.inp{
    width: 60%;
    border-radius: 10px;
}

 .lcolr2{
    padding-left: 7%;
}

.mcolr2{
    border-left: solid 1px black;
}

.rcolr3{
    padding-top: 30px;
    
}


.search{
    background-color: rgb(76, 154, 218); 
    color: white; 
    border-radius: 10px;
    
}

.workingarea{
    min-width:100%;
    min-height:-webkit-fill-available;
    color: black;
}

.sidebar div{
    color: black; 
    font-family: cursive;
    font-size: 20px;
    padding-bottom: 10px;
    margin: 10px;
    border-bottom-style: groove;
    border-bottom-color: white"
}

.row-2-inside{
    border-left :solid rgb(181, 193, 219);
    padding-left: 30px;
    margin-left: 10px;
}

.row-2{
    margin-top: 6em
    /* color: rgb(205, 215, 216); */

}
/* .imgouter{
    border-radius: 10px
} */

.mySlides{
    margin-top: 10px; 
    max-width:100%;
    min-height:50%;
    display: none;
    border-radius: 2px;
}


@media only screen and (max-width: 768px) {
    .head1{
        font-size: 20px;
        
    }

    .lcolr2{
        padding-left: 4%;
    }

    .head2{
        
       
        padding-left: 0px;
    }
}

@media only screen and (max-width: 399px) {
    .head1{
        font-size: 15px;        
    }

    .head2{ 
       
       font-size: 15px;
    }

    .lcolr2{
        padding-left: 2%;
    }

    
}